.contacts {
    padding: 90px 0;
    text-align: center;
}

.contacts-title {
	font-style: 34px;
    margin-bottom: 40px;
}

.contacts-content {
    font-size: 18px;
    margin-bottom: 40px;
}
.contacts-content p + p {
    margin-top: 1em;
}
.title-1 {
	font-style: 34px;
	font-weight: 600;
}
.contacts-button {
    margin-bottom: 80px;
}

.contacts-socials {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 60px;
	margin-bottom: 40px;

}
.contacts-footer {
	color:#828282;
}
